$bordertest: 1px solid red;

.main {
  position: sticky;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.logomain {
  flex-grow: 1;
}

.loginButton {
  justify-self: end;
  padding: 2%;
}

button {
  height: 2rem;
  width: 5rem;
  font-size: 0.2rem;
  text-align: center;

  @media (min-width: 768px) {
    height: 50px;
    width: 100px;
  }
}
