@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap";

html {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: $gray-900;
  position: absolute;
}
